{% extends 'base.html' %}

{% block content %}
<div>
    {% if user.is_authenticated %}
        <h3>Menu Navegação</h3>
<br>
          <ul class="list-group list-group-flush"> 
            {% if perms.app.view_folhadeobra %}
            <li class="list-group-item"><b>Produção</b></li>
                <li class="list-group-item">&emsp;<a href="{% url 'folha_de_obra_list' %}">Gerir folhas de obra</a></li>
            {% endif %}
          </ul>
          <ul class="list-group list-group-flush">
            {% if perms.app.view_fornecedor %}
            <li class="list-group-item"><b>Fornecedores</b></li>
            <li class="list-group-item">&emsp;<a href="{% url 'fornecedor_list' %}">Gerir Fornecedores</a></li>
            {% endif %}
          </ul>
          <ul class="list-group list-group-flush">
            {% if perms.app.view_trabalhadoroperario %}
            <li class="list-group-item"><b>Trabalhador Operário</b></li>
            <li class="list-group-item">&emsp;<a href="{% url 'trabalhador_operario_list' %}">Gerir Trabalhadores Operários</a></li>
            {% endif %}
          </ul>
          <ul class="list-group list-group-flush">
            {% if perms.app.view_maodeobra %}
            <li class="list-group-item"><b>Mão de Obra</b></li>
            <li class="list-group-item">&emsp;<a href="{% url 'mao_de_obra_list' %}">Gerir Mão de Obra</a></li>
            {% endif %}
          </ul>
          <ul class="list-group list-group-flush">
            {% if perms.app.view_cliente %}
            <li class="list-group-item"><b>Clientes</b></li>
            <li class="list-group-item">&emsp;<a href="{% url 'cliente_list' %}">Gerir Clientes</a></li>
            {% endif %}
          </ul>
          <ul class="list-group list-group-flush">
            {% if perms.app.view_equipamento %}
            <li class="list-group-item"><b>Equipamentos</b></li>
            <li class="list-group-item">&emsp;<a href="{% url 'equipamento_list' %}">Gerir Equipamentos</a></li>
            {% endif %}
          </ul>
          <ul class="list-group list-group-flush">
            {% if perms.app.view_equipamento %}
            <li class="list-group-item"><b>Equipamentos em comercialização</b></li>
            <li class="list-group-item">&emsp;<a href="{% url 'equipamento_comercializacao_list' %}">Lista de Equipamentos</a></li>
            <li class="list-group-item">&emsp;<a href="{% url 'equipamento_comercializacao_client_list' %}">Lista de Equipamentos à Venda</a></li>
            {% endif %}
          </ul>
          <ul class="list-group list-group-flush">
            {% if perms.app.view_stockequipamentos %}
            <li class="list-group-item"><b>Stock de Equipamentos</b></li>
            <li class="list-group-item">&emsp;<a href="{% url 'mostrar_entrada_equipamentos' %}">Stock - Entrada de Equipamentos</a></li>
            <li class="list-group-item">&emsp;<a href="{% url 'mostrar_saida_equipamentos' %}">Stock - Saída de Equipamentos</a></li>
            <li class="list-group-item">&emsp;<a href="{% url 'mostrar_stock_equipamentos' %}">Stock - Dados Gerais Equipamentos</a></li>
            <li class="list-group-item">&emsp;<a href="{% url 'mostrar_stock_equipamentos_armazem' %}">Stock - Dados De Equipamentos por Armazéns</a></li>
            {% endif %}
          </ul>
          <ul class="list-group list-group-flush">
            {% if perms.app.view_componente %}
            <li class="list-group-item"><b>Componentes</b></li>
            <li class="list-group-item">&emsp;<a href="{% url 'componente_list' %}">Gerir Componentes</a></li>
            {% endif %}
          </ul>
          <ul class="list-group list-group-flush">
            {% if perms.app.view_view_stockcomponentes %}
            <li class="list-group-item"><b>Stock de Componentes</b></li>
            <li class="list-group-item">&emsp;<a href="{% url 'componente_list' %}">Gerir Componentes</a></li>
            <li class="list-group-item">&emsp;<a href="{% url 'mostrar_stock_componentes' %}">Stock - Entrada de Componentes</a></li>
            <li class="list-group-item">&emsp;<a href="{% url 'mostrar_saida_componentes_folha_de_obra' %}">Stock - Saída de Componentes</a></li>
            <li class="list-group-item">&emsp;<a href="{% url 'mostrar_stock_total_componentes' %}">Stock - Dados Gerais Componentes</a></li>
            <li class="list-group-item">&emsp;<a href="{% url 'mostrar_stock_componentes_armazem' %}">Stock - Dados De Componentes por Armazém</a></li>
            {% endif %}
          </ul>
          <ul class="list-group list-group-flush">
            {% if perms.app.view_pedidocomprafornecedor %}
            <li class="list-group-item"><b>Pedidos de compra a Fornecedor</b></li>
            <li class="list-group-item">&emsp;<a href="{% url 'pedido_comprafornecedor_list' %}">Pedidos de compra a Fornecedor</a></li>
            {% endif %}
          </ul>
            <ul class="list-group list-group-flush">
            {% if perms.app.view_armazem %}
            <li class="list-group-item"><b>Armazéns</b></li>
            <li class="list-group-item">&emsp;<a href="{% url 'armazem_list' %}">Armazém</a></li>
            {% endif %}
          </ul>
          <ul class="list-group list-group-flush">
            {% if perms.app.view_guiaremessafornecedor %}
            <li class="list-group-item"><b>Guias de remessa de Fornecedores</b></li>
            <li class="list-group-item">&emsp;<a href="{% url 'guia_remessafornecedor_list' %}">Guias a Fornecedor</a></li>
            {% endif %}
          </ul>
          <ul class="list-group list-group-flush">
            {% if perms.app.view_guiaremessacliente %}
            <li class="list-group-item"><b>Guias de remessa para Clientes</b></li>
            <li class="list-group-item">&emsp;<a href="{% url 'guia_remessacliente_list' %}">Guias para Cliente</a></li>
            {% endif %}
          </ul>
          <ul class="list-group list-group-flush">
            {% if perms.app.view_pedidocompracliente %}
            <li class="list-group-item"><b>Pedidos de compra de Cliente</b></li>
            <li class="list-group-item">&emsp;<a href="{% url 'pedido_compracliente_list' %}">Pedidos de compra de Cliente</a></li>
            {% endif %}
          </ul>
          <ul class="list-group list-group-flush">
            {% if perms.app.view_faturacliente %}
            <li class="list-group-item"><b>Faturas de Cliente</b></li>
            <li class="list-group-item">&emsp;<a href="{% url 'faturacliente_list' %}">Faturas de Cliente</a></li>
            {% endif %}
          </ul>
          <ul class="list-group list-group-flush">
            {% if perms.app.view_faturafornecedor %}
            <li class="list-group-item"><b>Faturas do Fornecedor</b></li>
            <li class="list-group-item">&emsp;<a href="{% url 'faturafornecedor_list' %}">Faturas de Fornecedor</a></li>
            {% endif %}
          </ul>
    
    {% else %}
        <p>Ainda não iniciou sessão,</p>
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
</div>

 
{% endblock %}