{% extends 'base.html' %}

{% block content %}
<div>
    {% if user.is_authenticated %}
        <h3>Menu Navegação</h3>
<br>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Produção</b></li>
            <li class="list-group-item">&emsp;<a href="{% url 'login' %}">Criar folha de obra</a></li>
          </ul>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Vendas</b></li>
            <li class="list-group-item">&emsp;<a href="{% url 'login' %}">Criar Ordem de produção</a></li>
            <li class="list-group-item">&emsp;<a href="{% url 'cliente_list' %}">Vendas equipamentos</a></li>
            <li class="list-group-item">&emsp;<a href="{% url 'cliente_list' %}">Vendas equipamentos: Clientes</a></li>
          </ul>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Fornecedores</b></li>
            <li class="list-group-item">&emsp;<a href="{% url 'fornecedor_list' %}">Gerir Fornecedores</a></li>
          </ul>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Clientes</b></li>
            <li class="list-group-item">&emsp;<a href="{% url 'cliente_list' %}">Gerir Clientes</a></li>
          </ul>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Equipamentos</b></li>
            <li class="list-group-item">&emsp;<a href="{% url 'equipamento_list' %}">Gerir Equipamentos</a></li>
            <li class="list-group-item">&emsp;<a href="{% url 'login' %}">Equipamentos: Produção</li>
            <li class="list-group-item">&emsp;<a href="{% url 'fornecedor_list' %}">Equipamentos: Stock</a></li>
          </ul>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Componentes</b></li>
            <li class="list-group-item">&emsp;<a href="{% url 'componente_list' %}">Gerir Componentes</a></li>
            <li class="list-group-item">&emsp;<a href="{% url 'login' %}">Importação de componentes (JSON ou XML).</li>
            <li class="list-group-item">&emsp;<a href="{% url 'login' %}">Componentes em stocks</a></li>
          </ul>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Pedidos de compra a Fornecedor</b></li>
            <li class="list-group-item">&emsp;<a href="{% url 'pedido_comprafornecedor_list' %}">Pedidos de compra a Fornecedor</a></li>
            <li class="list-group-item">&emsp;<a href="{% url 'fornecedor_list' %}">Exportação de encomendas a fornecedores (JSON ou XML).</a></li>
          </ul>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Armazéns</b></li>
            <li class="list-group-item">&emsp;<a href="{% url 'armazem_list' %}">Armazém</a></li>
          </ul>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Guias de remessa de Fornecedores</b></li>
            <li class="list-group-item">&emsp;<a href="{% url 'guia_remessafornecedor_list' %}">Guias a Fornecedor</a></li>
          </ul>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Guias de remessa para Clientes</b></li>
            <li class="list-group-item">&emsp;<a href="{% url 'guia_remessacliente_list' %}">Guias para Cliente</a></li>
          </ul>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Pedidos de compra de Cliente</b></li>
            <li class="list-group-item">&emsp;<a href="{% url 'pedido_compracliente_list' %}">Pedidos de compra de Cliente</a></li>
          </ul>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Listagens</b></li>
            <li class="list-group-item">&emsp;<a href="{% url 'login' %}">Componentes em stocks</a></li>
            <li class="list-group-item">&emsp;<a href="{% url 'login' %}">Equipamentos: Produção</li>
            <li class="list-group-item">&emsp;<a href="{% url 'fornecedor_list' %}">Equipamentos: Stock</a></li>
            <li class="list-group-item">&emsp;<a href="{% url 'cliente_list' %}">Vendas equipamentos</a></li>
            <li class="list-group-item">&emsp;<a href="{% url 'cliente_list' %}">Vendas equipamentos: Clientes</a></li>
          </ul>
    
    {% else %}
        <p>Ainda não iniciou sessão,</p>
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
</div>

 
{% endblock %}