{% extends 'base.html' %}

{% block title %}Informações do Cliente - {{ cliente.nomecliente }}{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <h3>{{ cliente.nomecliente }}</h3>
    </div>
    <div class="card-body"> 
      <p><strong>NIF:</strong> {{ cliente.nif }}</p>
      <p><strong>Código Postal:</strong> {{ cliente.codigopostal }}</p>
      <p><strong>Número de Telefone:</strong> {{ cliente.numerotelefonecliente }}</p>
      <p><strong>Endereço de Email:</strong> {{ cliente.email }}</p>
    </div>
    <div class="card-footer d-flex">
      <a href="{% url 'cliente_list' %}" type="button" class="btn btn-secondary btn-sm">Voltar para a Lista de Clientes</a>
  
      <div class="ml-auto">
        <a type="button" class="btn btn-warning btn-sm" href="{% url 'cliente_update' pk=cliente.idcliente %}">Editar</a> 
        <a type="button" class="btn btn-danger btn-sm" href="{% url 'cliente_delete' pk=cliente.idcliente %}">Excluir</a> 
      </div>
  </div>
  


  </div>
{% endblock %}
