{% extends 'base.html' %}

{% block title %}Detalhes do Pedido de Compra a Fornecedor - Pedido #{{ pedido.idpedidocomprafornecedor }}{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <h3>Pedido #{{ pedido.idpedidocomprafornecedor }}</h3>
    </div>
    <div class="card-body">
      <p><strong>Fornecedor:</strong> {{ pedido.idfornecedor }}</p>
      <p><strong>Data e Hora do Pedido:</strong> {{ pedido.datahorapedidofornecedor }}</p>
      <p><strong>Preço:</strong> {{ pedido.preco }}</p>
    </div>
    <div class="card-footer d-flex">
      <a href="{% url 'pedidocomprafornecedor_list' %}" class="btn btn-secondary btn-sm">Voltar para a Lista de Pedidos</a>
      <div class="ml-auto">
        <a href="{% url 'pedidocomprafornecedor_update' pk=pedido.pk %}" class="btn btn-warning btn-sm">Editar</a>
        <a href="{% url 'pedidocomprafornecedor_delete' pk=pedido.pk %}" class="btn btn-danger btn-sm">Excluir</a>
      </div>
    </div>
  </div>
{% endblock %}
