<!-- folha_de_obra_detail.html -->
{% extends 'base.html' %}

{% block title %}nformações básicas da Folha de Obra - {{ folha_de_obra.idfolhadeobra }}{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <h3>{{ folha_de_obra.idfolhadeobra }}</h3>
    </div>
    <div class="card-body">
      <p><strong>Maodeobra:</strong> {{ folha_de_obra.idmaodeobra }}</p>
      <p><strong>Equipamento:</strong> {{ folha_de_obra.idequipamento }}</p>
      <p><strong>Quantidade do Equipamento:</strong> {{ folha_de_obra.quantidadeequipamento }}</p>
      <p><strong>Data de Início:</strong> {{ folha_de_obra.datahorainicio }}</p>
      <p><strong>Data de Fim:</strong> {{ folha_de_obra.datahorafim }}</p>
      <p><strong>Armazém:</strong> {{ folha_de_obra.idarmazem }}</p>
      <p><strong>Preço Médio:</strong> {{ folha_de_obra.precomedio }}</p>
    </div>
    <div class="card-footer d-flex">
      <a href="{% url 'folha_de_obra_list' %}" type="button" class="btn btn-secondary btn-sm">Voltar para a Lista de Folhas de Obra</a>
  
      <div class="ml-auto">
          <a type="button" class="btn btn-warning btn-sm" href="{% url 'folha_de_obra_update' pk=folha_de_obra.pk %}">Editar</a>
          <a type="button" class="btn btn-danger btn-sm" href="{% url 'folha_de_obra_delete' pk=folha_de_obra.pk %}">Excluir</a>
      </div>
    </div>
  </div>
{% endblock %}
