{% extends 'base.html' %}

{% block title %}Detalhes do Componente - {{ componente.nomecomponente }}{% endblock %}

{% block content %}
  <div class="card"> 
    <div class="card-header">
      <h3>{{ componente.nomecomponente }}</h3>
    </div>
    <div class="card-footer d-flex"> 
      <a href="{% url 'componente_list' %}" type="button" class="btn btn-secondary btn-sm">Voltar para a Lista de Componentes</a>
  
      <div class="ml-auto"> 
        <a type="button" class="btn btn-warning btn-sm" href="{% url 'componente_update' pk=componente.idcomponente %}">Editar</a> <!-- Link para atualização -->
        <a type="button" class="btn btn-danger btn-sm" href="{% url 'componente_delete' pk=componente.idcomponente %}">Excluir</a> <!-- Link para exclusão -->
      </div>  
    </div>
  </div>
{% endblock %}
