{% extends 'base.html' %}

{% block title %}Stock de Componentes{% endblock %}

{% block content %}
  <h2>Stock de Componentes</h2>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h3>Entradas de Componentes</h3>
        <table class="table">
          <thead> 
            <tr>
              <th>Nome do Componente</th>
              <th>Quantidade</th>
              <th>Armazém</th>
              <th>Data e Hora</th>
            </tr>
          </thead>
          <tbody>
            {% for entrada_componente in entradas_componentes %}
            <tr>
              <td>{{ entrada_componente.nome_componente }}</td>
              <td>{{ entrada_componente.quantidade }}</td>
              <td>{{ entrada_componente.idarmazem }}</td>
              <td>{{ entrada_componente.datahoradetalhesguiafornecedor }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
