{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Nova Folha de Obra{% endblock %}

{% block content %}
  <h2>{{ action }} Folha de Obra</h2>
  
  <form method="post" id="folhaDeObraForm">
    {% csrf_token %}
    {{ form_folha_obra.idmaodeobra|as_crispy_field }}
    {{ form_folha_obra.idequipamento|as_crispy_field }}
    {{ form_folha_obra.datahorainicio|as_crispy_field }}
    {{ form_folha_obra.datahorafim|as_crispy_field }}
    {{ form_folha_obra.idarmazem|as_crispy_field }}
    {{ form_folha_obra.precomedio|as_crispy_field }}

    
    <div id="detalhes">
      <div class="detalhe">
        {{ form_detalhes.idcomponente|as_crispy_field }} 
        {{ form_detalhes.quantidade|as_crispy_field }}
        {{ form_detalhes.idarmazem|as_crispy_field }}
        {{ form_detalhes.datahoradetalhesfolhadeobra|as_crispy_field }}
      </div>
    </div>
    <button type="button" onclick="adicionarDetalhe()">Adicionar Detalhe</button>

    <input type="submit" value="Guardar">
  </form>

  <script>
    var contadorDetalhes = 1;

    function adicionarDetalhe() {
      var detalhesDiv = document.getElementById('detalhes');
      var novoDetalhe = detalhesDiv.firstElementChild.cloneNode(true);

      
      updateAttributes(novoDetalhe);

      detalhesDiv.appendChild(novoDetalhe);
      contadorDetalhes++;
    }

    function updateAttributes(element) {
      var inputs = element.querySelectorAll('input, select');
      inputs.forEach(function(input) {
        
        var newName = input.getAttribute('name').replace(/\d+/, contadorDetalhes);
        var newId = input.getAttribute('id').replace(/\d+/, contadorDetalhes);
        input.setAttribute('name', newName);
        input.setAttribute('id', newId);
      });
    }
  </script>
{% endblock %}
