{% extends 'base.html' %}

{% block title %}Detalhes do Pedido de Compra do Cliente{% endblock %}

{% block content %}
  <div class="card">  
    <div class="card-header">
        <h3>Detalhes do Pedido</h3>
    </div> 
    <div class="card-body">
        {% if detalhes_pedido_compra_cliente %}
            <p><strong>ID do Pedido:</strong> {{ detalhes_pedido_compra_cliente.idpedidocompracliente }}</p>
            <p><strong>ID do Equipamento:</strong> {{ detalhes_pedido_compra_cliente.idequipamento }}</p>
            <p><strong>Quantidade:</strong> {{ detalhes_pedido_compra_cliente.quantidade }}</p>
        {% else %}
            <p>Detalhes não encontrados.</p>
        {% endif %}
    </div>

    <div class="card-footer d-flex">  
        {% if detalhes_pedido_compra_cliente %}
            <a href="{% url 'pedido_compracliente_detail' pk=detalhes_pedido_compra_cliente.idpedidocompracliente %}" class="btn btn-secondary btn-sm">Voltar para as Informações Básicas do Pedido de Compra</a>
            <div class="ml-auto">
              <a type="button" class="btn btn-warning btn-sm" href="{% url 'detalhes_pedidocompracliente_update' pk=detalhes_pedido_compra_cliente.iddetalhespedidocompracliente %}">Editar</a>
              <a type="button" class="btn btn-danger btn-sm" href="{% url 'detalhes_pedidocompracliente_delete' pk=detalhes_pedido_compra_cliente.iddetalhespedidocompracliente %}">Excluir</a>
            </div>
        {% endif %}
    </div>
  </div>
{% endblock %}
