{% extends 'base.html' %}

{% block title %}Informações básicas do Pedido de Compra do Cliente{% endblock %}

{% block content %}
  <div class="card">  
    <div class="card-header">
        <h3>Pedido #{{ pedido_compra_cliente.datahorapedidocliente }}</h3>
        <div class="ml-auto">
          <a type="button" class="btn btn-info btn-sm" href="{% url 'detalhes_pedidocompracliente_list' %}">Detalhes</a>
      </div>      
    </div> 
    <div class="card-body">
        <p><strong>Cliente:</strong> {{ pedido_compra_cliente.nomecliente }}</p>
        <p><strong>Data e Hora do Pedido:</strong> {{ pedido_compra_cliente.datahorapedidocliente }}</p>
        <p><strong>Preço:</strong> {{ pedido_compra_cliente.preco }}</p>
    </div>
    <div class="card-footer d-flex">  
        <a href="{% url 'pedido_compracliente_list' %}" class="btn btn-secondary btn-sm">Voltar para a Lista de Pedidos</a>
        <div class="ml-auto">
          <a type="button" class="btn btn-warning btn-sm" href="{% url 'pedido_compracliente_update' pk=pedido_compra_cliente.idpedidocompracliente %}">Editar</a>
          <a type="button" class="btn btn-danger btn-sm" href="{% url 'pedido_compracliente_delete' pk=pedido_compra_cliente.idpedidocompracliente %}">Excluir</a>
        </div>
    </div>
  </div>
{% endblock %}
