<!-- pedido_compracliente/pedido_compracliente_delete.html -->
{% extends 'base.html' %}

{% block content %}
  <h2>Confirmar Exclusão</h2>
  <p>Tem a certeza que deseja excluir o pedido de compra do cliente?</p>
  <form method="post" action="{% url 'pedido_compracliente_delete' pk=idpedidocompracliente %}">
    {% csrf_token %}
    <button class="btn btn-danger btn-sm" type="submit">Sim, Excluir</button>
    <a type="button" class="btn btn-secondary btn-sm" href="{% url 'pedido_compracliente_list' %}">Cancelar</a>
  </form>
{% endblock %}
