<!-- pedido_compracliente_update_form.html -->

{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Atualizar Pedido de Compra do Cliente{% endblock %}

{% block content %}
  <div class="card">  
    <div class="card-header">
        <h3>Atualizar Informações do Pedido</h3>
    </div> 
    <div class="card-body">
      <form method="post" id="pedidoForm">
        {% csrf_token %}
        {{ form_pedido.idcliente|as_crispy_field }}
        {{ form_pedido.preco|as_crispy_field }}

        <!-- Detalhes do Pedido -->
        <h4>Detalhes do Pedido</h4>
        {% for detalhe_form in detalhes_forms.forms %}
          <div class="detalhe">
            {{ detalhe_form.idequipamento|as_crispy_field }}
            {{ detalhe_form.quantidade|as_crispy_field }}
            <!-- Adicione outros campos conforme necessário -->
          </div>
        {% endfor %}

        <input type="submit" value="Atualizar">
      </form>
    </div>

    <div class="card-footer d-flex">  
        <a href="{% url 'pedido_compracliente_list' %}" class="btn btn-secondary btn-sm">Voltar para a Lista de Pedidos</a>
    </div>
  </div>
{% endblock %}
