{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Detalhes do Pedido de Compra do Cliente{% endblock %}

{% block content %}
  <div class="card">  
    <div class="card-header">
        <h3>Informações do Pedido</h3>
    </div> 
    <div class="card-body">
        <p><strong>ID do Pedido:</strong> {{ pedido_compra_cliente.idpedidocompracliente }}</p>
        <p><strong>Cliente:</strong> {{ pedido_compra_cliente.nomecliente }}</p>
        <p><strong>Data e Hora do Pedido:</strong> {{ pedido_compra_cliente.datahorapedidocliente }}</p>
        <p><strong>Preço:</strong> {{ pedido_compra_cliente.preco }}</p>

        <!-- Detalhes do Pedido -->
        <h4>Detalhes do Pedido</h4>
        <ul>
          {% for detalhe in pedido_compra_cliente.detalhes_pedidocompra_cliente %}
            <li>
              <p><strong>Nome do Equipamento:</strong> {{ detalhe.2 }}</p>
              <p><strong>Quantidade:</strong> {{ detalhe.1 }}</p>
              <!-- Adicione outros campos conforme necessário -->
            </li>
          {% endfor %}
        </ul>
    </div>

    <div class="card-footer d-flex">  
        <a href="{% url 'pedido_compracliente_list' %}" class="btn btn-secondary btn-sm">Voltar para a Lista de Pedidos</a>
        <div class="ml-auto">
          <a type="button" class="btn btn-warning btn-sm" href="{% url 'pedido_compracliente_update' pk=pedido_compra_cliente.idpedidocompracliente %}">Editar</a>
          <a type="button" class="btn btn-danger btn-sm" href="{% url 'pedido_compracliente_delete' pk=pedido_compra_cliente.idpedidocompracliente %}">Excluir</a>
        </div>
    </div>
  </div>
{% endblock %}
