{% extends 'base.html' %}

{% block title %}Lista de Pedidos de Compra dos Clientes{% endblock %}

{% block content %}
  <h2>Lista de Pedidos de Compra dos Clientes</h2>
  <ul>
    {% for pedido_compra_cliente in pedidos_compra_cliente %}
      <li><a href="{% url 'pedido_compracliente_detail' pk=pedido_compra_cliente.idpedidocompracliente %}">Pedido #{{ pedido_compra_cliente.datahorapedidocliente }}</a></li>
    {% endfor %}
  </ul>
  <a type="button" class="btn btn-dark" href="{% url 'pedido_compracliente_create' %}">Novo Pedido</a>
{% endblock %}
