{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <h2>{{ action }} Pedido de Compra do Cliente</h2>
  
  <form method="post" id="pedidoForm">
    {% csrf_token %}
    {{ form_pedido.idcliente}}
    {{ form_pedido.preco }}

    <!-- Campos para detalhes existentes -->
    {% for form in detalhes_forms %}
      <div class="detalhe">
        {{ form.idequipamento }}
        {{ form.quantidade }}
      </div>
    {% endfor %}

    <!-- Campos iniciais para um novo detalhe -->
    <div id="detalhes">
      <div class="detalhe">
        {{ form_detalhes.idequipamento }}
        {{ form_detalhes.quantidade }}
      </div>
    </div>
    <button type="button" onclick="adicionarDetalhe()">Adicionar Detalhe</button>

    <input type="submit" value="Guardar">
  </form>

  <script>
    function adicionarDetalhe() {
      var detalhesDiv = document.getElementById('detalhes');
      var novoDetalhe = detalhesDiv.firstElementChild.cloneNode(true);

      // Atualiza os atributos 'name' e 'id' dos campos clonados para evitar conflitos
      updateAttributes(novoDetalhe);

      detalhesDiv.appendChild(novoDetalhe);
    }

    function updateAttributes(element) {
      var inputs = element.querySelectorAll('input');
      inputs.forEach(function(input) {
        var newName = input.getAttribute('name').replace(/_\d+_/g, '_' + (detalhesDiv.children.length) + '_');
        var newId = input.getAttribute('id').replace(/_\d+_/g, '_' + (detalhesDiv.children.length) + '_');
        input.setAttribute('name', newName);
        input.setAttribute('id', newId);
      });
    }
  </script>
{% endblock %}
