{% extends 'base.html' %}

{% block title %}Lista de Guias de Remessa para Fornecedor{% endblock %}

{% block content %}
  <h2>Lista de Guias de Remessa para Fornecedor</h2>
  <ul>
    {% for guia_remessa_fornecedor in guias_remessa_fornecedor %}
      <li><a href="{% url 'guia_remessafornecedor_detail' pk=guia_remessa_fornecedor.idguiaremessafornecedor %}">Guia #{{ guia_remessa_fornecedor.datahoraguiafornecedor }}</a></li>
    {% endfor %}
  </ul>
  <a type="button" class="btn btn-dark" href="{% url 'guia_remessafornecedor_create' %}">Nova Guia</a>
{% endblock %}

