{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Detalhes da Guia de Remessa para Fornecedor{% endblock %}

{% block content %}
  <div class="card">  
    <div class="card-header">
        <h3>Informações da Guia de Remessa</h3>
    </div> 
    <div class="card-body">
      <p><strong>ID da guia:</strong> {{ guia_remessa_fornecedor.idguiaremessafornecedor }}</p>
        <p><strong>Data e Hora da Guia:</strong> {{ guia_remessa_fornecedor.datahoraguiafornecedor }}</p>

        <p><strong>Pedido de Compra:</strong> <a href="{% url 'pedido_comprafornecedor_detail' pk=guia_remessa_fornecedor.idpedidocomprafornecedor %}">Ver Pedido de Compra</a></p>
        
        <!-- Detalhes da Guia -->
        <h4>Detalhes da Guia</h4>
        <ul>
          {% for detalhe in guia_remessa_fornecedor.detalhes_guiaremessafornecedor %}
            <li>
              <p><strong>Nome do Componente:</strong> {{ detalhe.2 }}</p>
              <p><strong>Quantidade:</strong> {{ detalhe.1 }}</p>
              <p><strong>Armazém:</strong> {{ detalhe.3 }}</p>
              <!-- Adicione outros campos conforme necessário -->
            </li>
          {% endfor %}
        </ul>
    </div>

    <div class="card-footer d-flex">  
        <a href="{% url 'guia_remessafornecedor_list' %}" class="btn btn-secondary btn-sm">Voltar para a Lista de Guias</a>
        <div class="ml-auto">
          <a type="button" class="btn btn-danger btn-sm" href="{% url 'guia_remessafornecedor_delete' pk=guia_remessa_fornecedor.idguiaremessafornecedor %}">Excluir</a>
        </div>
    </div>
  </div>
{% endblock %}
