{% extends 'base.html' %}

{% block title %}Lista de Pedidos de Compra dos Clientes{% endblock %}

{% block content %}
  <h2>Lista de Pedidos de Compra dos Clientes</h2>
  <ul>
    {% for data in guia_remessa_fornecedor %}
      <li><a href="{% url 'guia_remessafornecedor_detail' pk=data.idguiaremessafornecedor %}">Remessa -{{ data.idguiaremessafornecedor }}&nbsp;&nbsp;&nbsp; Pedido-{{ data.idpedidocomprafornecedor }}&nbsp;&nbsp;&nbsp;Hora-{{ data.datahoraguiafornecedor }}</a></li>
    {% endfor %}
  </ul>
  {% comment %}
  
  <a type="button" class="btn btn-dark" href="{% url 'guia_remessafornecedor_create' %}">Novo Pedido</a>
  {% endcomment %}
{% endblock %}
