{% extends 'base.html' %}

{% block title %}Lista de Pedidos de Compra para Fornecedor{% endblock %}

{% block content %}
  <h2>Lista de Pedidos de Compra para Fornecedor</h2>
  <ul>
    {% for pedido_compra_fornecedor in pedidos_compra_fornecedor %}
      <li><a href="{% url 'pedido_comprafornecedor_detail' pk=pedido_compra_fornecedor.idpedidocomprafornecedor %}">Pedido #{{ pedido_compra_fornecedor.datahorapedidofornecedor }}</a></li>
    {% endfor %}
  </ul>
  <a type="button" class="btn btn-dark" href="{% url 'pedido_comprafornecedor_create' %}">Novo Pedido</a>
{% endblock %}
 