<!-- fornecedor_detail.html -->
{% extends 'base.html' %}

{% block title %}Detalhes do Equipamento - {{ equipamento.nomeequipamento }}{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <h3>{{ equipamento.nomeequipamento }}</h3>
    </div>
    <div class="card-body">
      <p><strong>Descrição:</strong> {{ equipamento.descricao }}</p>
    </div>
    <div class="card-footer d-flex">
      <a href="{% url 'equipamento_list' %}" type="button" class="btn btn-secondary btn-sm">Voltar para a Lista de Equipamentos</a>
  
      <div class="ml-auto">
          <a type="button" class="btn btn-warning btn-sm" href="{% url 'equipamento_update' pk=equipamento.idequipamento %}">Editar</a>
          <a type="button" class="btn btn-danger btn-sm" href="{% url 'equipamento_delete' pk=equipamento.idequipamento %}">Excluir</a>
      </div>
    </div>
  </div>
{% endblock %}
