<!-- stock_equipamentos_armazem.html -->

{% extends 'base.html' %}

{% block title %}Stock de Equipamentos por Armazém{% endblock %}

{% block content %}
  <h2>Stock de Equipamentos por Armazém</h2>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <table class="table">
          <thead>
            <tr>
              <th>Código Postal do Armazém</th>
              <th>Nome do Equipamento</th>
              <th>Entrada</th>
              <th>Saída</th>
              <th>Stock</th>
            </tr>
          </thead>
          <tbody>
            {% for stock in stock_equipamentos_armazem %}
              <tr>
                <td>{{ stock.0 }}</td>
                <td>{{ stock.1 }}</td>
                <td>{{ stock.2 }}</td>
                <td>{{ stock.3 }}</td>
                <td>{{ stock.4 }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
